*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', san-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
#up{
    height: 100vh;
    width: 100%;
    background-image: url(../img/backgroundsakura.jpg);
    background-size: cover;
    background-attachment: fixed;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 50px;
}
#logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #66FCF1;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
}
nav ul li a:hover{
    color: #66FCF1;
    transition: .4s;
}
#name{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: #C5C6C7;
    font-size: 25px;

}
#aboutme{
    width: 100%;
    padding: 100px 0px;
    background-color: #0B0C10;
}
#aboutme img{
    height: auto;
    width: 430px;
    border-radius: 50%;
}
#text{
    width: 550px;

}
#main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#text h2{
    color: #C5C6C7;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
#text p{
    color: #C5C6C7;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 20px;
    margin-bottom: 45px;
}
#box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    
}
#interest{
    background-color: #1F2833;
    width: 100%;
    padding: 100px 0px;
}
#title h2{
    color: #C5C6C7;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
#icon{
    height: 400px;
    width: 335px;
    padding: 50px 35px;
    background: #191919;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 20px;
    
}
h5{
    color:white;
    font-size: 23px;
    margin-bottom: 15px;
}
#parag{
    color: white;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
#contactright form{
     width: 100%;

}
form{
    text-align: center;
}
form input, form textarea{
    width: 50%;
    border: 0px;
    outline: none;
    background: #323232;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}
#contact{
    background-color: #0B0C10;
    padding: 50px 35px;
}
#contact h1{
    color: #C5C6C7;
    text-align: center;
}
#contactme{
    margin-top: 30px;
}
#btn{
    background-color: #66FCF1;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    transition: .4s;
    border-radius: 20px;
}
#btn:hover{
    background-color: black;
    border: 2px solid #66FCF1;
    cursor: pointer;
    color: white;
}
.footer {
    background-color: #1F2833;
    padding: 10px;
}
.footer p{
    color: white;
    margin-bottom: 0;
    text-align: center;
}